
@{
    ViewBag.Title = "Ticker";
}
<link type="text/css" rel="stylesheet" href="../../Content/map_page_style.css" />


<div class="custom-container">

    <div class="row">
        @*<h2>Live positions</h2>*@
    </div>

    <div id="map">
        <div class="map_control">
            <button id="btn_toggle" class="btn btn-sm btn-warning">Скрыть</button>
            <div class="table-responsive" id="positionDiv" active="@ViewBag.Drones">

                @*<table class="table text-light">
            <thead>
                <tr>
                    <th>Дрон</th>
                    <th>Координаты</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody id="tableBody" active2 ="@ViewBag.ListDrones ">
                @foreach (var drone in ViewBag.Drones)
                {
                    <tr>
                        <td>@drone.droneName</td>
                        <td><span id="coordinateRow"><span id="xCoord">@drone.X</span><br /><span id="yCoord">@drone.Y</span></span></td>
                        <td>@drone.droneDescription</td>
                    </tr>

                }
            </tbody>
        </table>*@
                <p class="row @*d-flex justify-content-between*@">
                    <span class="col-2">Номер дрона</span>
                    <span class="col-4">Координаты</span>
                    <span class="col-2">Крен</span>
                    <span class="col-2">Курс</span>
                    <span class="col-2">Высота</span>
                </p>

                @for (int i = 1; i <= 12; i++)
                {
                    <div class ="d-none"id="ID_@i">
                        <p>
                            @i
                        </p>
                    </div>
                }


            <dov class="rows">
                <dov class="text-success row mb-2 myRow ">
                    <span class="col-2">ID_1</span>
                    <span class="col-4">56.736506  37.221947</span>
                    <span class="col-2">1°</span>
                    <span class="col-2">4°</span>
                    <span class="col-2">10,1 m</span>
                </dov>

                <dov class="text-success row mb-2 myRow">
                    <span class="col-2">ID_2</span>
                    <span class="col-4">56.736842, 37.218743</span>
                    <span class="col-2">0°</span>
                    <span class="col-2">10°</span>
                    <span class="col-2">5,5 m</span>
                </dov>

                

                <dov class=" row mb-2 myRow ">
                    <span class="col-2">ID_3</span>
                    <span class="col-4">56.732837, 37.221782</span>
                    <span class="col-2">1°</span>
                    <span class="col-2">1°</span>
                    <span class="col-2">12,9 m</span>
                </dov>

                <dov class=" row mb-2 myRow">
                    <span class="col-2">ID_4</span>
                    <span class="col-4">56.735045, 37.204367</span>
                    <span class="col-2">9°</span>
                    <span class="col-2">15°</span>
                    <span class="col-2"> 32.7 m</span>
                </dov>
                <dov class="  row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_5</span>
                    <span class="col-4">56.761743, 37.387421</span>
                    <span class="col-2">0°</span>
                    <span class="col-2">10°</span>
                    <span class="col-2">44,3 m</span>
                </dov>
                <dov class=" row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_6</span>
                    <span class="col-4">56.776545, 37.410687</span>
                    <span class="col-2">0°</span>
                    <span class="col-2">90°</span>
                    <span class="col-2">21,3 m</span>
                </dov>
                <dov class=" row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_7</span>
                    <span class="col-4">56.762636, 37.426356</span>
                    <span class="col-2">90°</span>
                    <span class="col-2">90°</span>
                    <span class="col-2">76,5 m</span>
                </dov>
                <dov class=" row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_8</span>
                    <span class="col-4">56.745811, 37.413702</span>
                    <span class="col-2">11°</span>
                    <span class="col-2">88°</span>
                    <span class="col-2">56,6 m</span>
                </dov>
                <dov class="row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_9</span>
                    <span class="col-4">56.692532, 37.289011</span>
                    <span class="col-2">1°</span>
                    <span class="col-2">40°</span>
                    <span class="col-2">6,4 m</span>
                </dov>
                <dov class="row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_10</span>
                    <span class="col-4">56.683705, 37.310316</span>
                    <span class="col-2">0°</span>
                    <span class="col-2">34°</span>
                    <span class="col-2"> 15.0 m</span>
                </dov>
                <dov class="row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_11</span>
                    <span class="col-4">56.688667, 37.342478</span>
                    <span class="col-2">0°</span>
                    <span class="col-2">120°</span>
                    <span class="col-2">85,1 m</span>
                </dov>
                <dov class="row mb-2 myRow @*d-flex justify-content-between*@">
                    <span class="col-2">ID_12</span>
                    <span class="col-4">56.702823, 37.310818</span>
                    <span class="col-2">0°</span>
                    <span class="col-2">23°</span>
                    <span class="col-2">56,5 m</span>
                </dov>




            </dov>

                
                    
                


            </div>
        </div>
    </div>

</div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5e37881d-286e-4485-985a-22f5b27ed7e8&lang=ru_RU" type="text/javascript"></script>

    <!--Script references. -->
    <!--Reference the jQuery library. -->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <!--Reference the SignalR library. -->
    <script src="/Scripts/jquery.signalR-2.4.2.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <!--Reference the StockTicker script. -->
    <script src="/Scripts/UpdatePositions.js"></script>

    @*<script src="@Url.Content("~/Scripts/mapScript.js")" type="text/javascript"></script>*@
