<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/scripts/mapScript.js")*@
    @*<script src="~/Scripts/mapScript.js" type="text/javascript"></script>*@
    <link href="@Url.Content("~/Content/main_style.css")" rel="stylesheet" type="text/css" />
   
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class=" nav-item active">@Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link" })</li>
                    <li class=" nav-item active">@Html.ActionLink("Drone monitoring", "Index", "Monitoring", new object { }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container custom-container body-content" style="margin-top: 50px;">

        @RenderBody()

    </div>



    <!-- Footer -->
    <footer class="footer bg-dark text-uppercase">
        <div class="text-center p-3">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>


 </body>
</html>
