<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/main_style.css")" rel="stylesheet" type="text/css" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="custom-container body-content">
         
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                @Html.ActionLink("На главную", "Index", "Home", new object { }, new { @class = "navbar-brand" })
                <ul class="navbar-nav mr-auto ml-5">

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 1", "Ticker", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 2", "Ticker2", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 3", "Ticker3", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 4", "Ticker4", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 5", "Ticker5", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 6", "Ticker6", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 7", "Ticker7", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 8", "Ticker8", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 9", "Ticker9", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item ">
                        @Html.ActionLink("Группа 10", "Ticker10", "Monitoring", new object { }, new { @class = "nav-link" })
                    </li>



                    @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Drone monitoring
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    @Html.ActionLink("Drone monitoring", "Index", "Monitoring", new object { }, new { @class = " disabled dropdown-item" })
                    @Html.ActionLink("Drone monitoring 2", "Index2", "Monitoring", new object { }, new { @class = " disabled dropdown-item" })
                    @Html.ActionLink("Ticker", "Ticker", "Monitoring", new object { }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Ticker2", "Ticker2", "Monitoring", new object { }, new { @class = "dropdown-item" })

                </div>
            </li>*@


                    @*<li class=" nav-item ">
                @Html.ActionLink("Chat", "Index", "Chat", new object { }, new { @class = "nav-link" })
            </li>*@

                    @*<li class=" nav-item ">
                @Html.ActionLink("Drone control panel", "DroneControl", "Chat", new object { }, new { @class = "nav-link" })
            </li>*@

                </ul>
            </div>
        </div>
    </nav>

    @*<div class="container custom-container body-content" style="margin-top: 50px;">*@

        @RenderBody()

    @*</div>*@



    <!-- Footer -->
    <footer class="footer text-light">
        <div class="text-center p-3">
            @*@DateTime.Now.Year Copyright:*@
            <a class="alert-link  text-light" href="https://mdbootstrap.com/"></a>
        </div>
    </footer>


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    

</body>
</html>
